body {
    background-color: #e8f4f8;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: grey;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    width: 280px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

h1 {
    margin: 15px 0 5px 0;
    color: #333;
}

.title {
    color: #888;
    font-size: 14px;
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
.whatsapp {
    button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}
}

button:hover {
    background-color: #45a049;
}
